.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.undo-button {
    position: absolute;
    transform: translate(-50%, -50%);

    left: -200px;
}
