:root {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;

    overflow: hidden; /* prevent scrollbar from appearing when things go over the bounds */
    touch-action: manipulation; /* prevent double-tap zoom */
}

#cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#helpText {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0rem 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;

    width: 300px;
}

#closeHelp {
    position: absolute;
    top: 5px;
    right: 5px;

    color: darkred;
}

.icon-button {
    background: none;
    border: none;

    cursor: pointer;

    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding-bottom: 1rem;
}

#undo-button {
    position: absolute;
    transform: translate(-100%, -50%);

    left: -175px;

    font-size: 2rem;
}

#help-button {
    position: absolute;
    transform: translate(0, -50%);
    left: 175px;

    font-size: 2rem;
}

#targetContainer {
    position: absolute;
    top: 70px;

    transform: translate(-50%, 0);

    font-family: monospace;
}

#victoryText {
    position: absolute;
    transform: translate(-50%, 0);

    top: 70px;

    width: 20rem;
    text-align: center;

    font-size: 32px;
}

#moveCounter {
    font-weight: bold;
}

.text-xs {
    font-size: 16px;
}

.text-sm {
    font-size: 24px;
}

.text-md {
    font-size: 32px;
}

.text-lg {
    font-size: 64px;
}

#victoryVideo {
    position: absolute;
    transform: translate(-50%, 0);

    bottom: 55px;

    height: 300px;
}



@keyframes reveal {
    from {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes victory {
    from {
        background-color: darkgray;
        visibility: visible;
    }

    to {
        background-color: limegreen;
    }
}
