:root {
    font-family: sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding-bottom: 1rem;
}

#undo-button {
    position: absolute;
    transform: translate(-100%, -50%);

    left: -175px;

    font-size: 2rem;
}

#instructions {
    position: absolute;
    transform: translate(0, -50%);
    left: 175px;
    width: 23rem;

    font-size: 20px;
}

#targetContainer {
    position: absolute;
    top: 70px;

    transform: translate(-50%, 0);

    font-family: monospace;
}

.text-md {
    font-size: 24px;
}

.text-lg {
    font-size: 64px;
}

#victoryVideo {
    position: absolute;
    transform: translate(-50%, 0);

    bottom: 60px;

    height: 300px;
}



@keyframes reveal {
    from {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes victory {
    from {
        background-color: darkgray;
        visibility: visible;
    }

    to {
        background-color: limegreen;
    }
}
