.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.undo-button {
    position: absolute;
    transform: translate(-50%, -50%);

    left: -200px;
}

#targetContainer {
    position: absolute;
    top: 70px;

    transform: translate(-50%, 0);

    font-family: monospace;
}

.text-md {
    font-size: 24px;
}

.text-lg {
    font-size: 64px;
}
