
/* Base classes applied to most words */
.wordDisplay {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: darkgray;
    border: none;
    outline: none;
    border-radius: 0.25em;

    padding: 0.0ch 0.25ch 0.5ex 0.5ch;
    width: 6.25ch;
    height: 2ex;

    color: white;
    /*text-align: center;*/
}

.gameplayText {
    font-family: monospace;
    letter-spacing: 0.25ch;
    font-weight: bold;
    text-transform: uppercase;
}

.smoothMovement {
    transition: top 0.3s ease-out, opacity 0.3s linear;
}

/* Specific types of words */
.wordInput {
    background: none;
    border: none;
    outline: none;

    width: 110%; /* keeps the input box from adjusting once you fill it */

    margin: 0;
    padding: 0;

    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    text-transform: uppercase;
}

.startingWord {
    background-color: indianred;
}

.wordHistory {
    top: 0;
    opacity: 60%;
}

.anagramMove {
    background-color: gold;
}

.letterMove {
    color: yellow;
}


/* Animations */

@keyframes inputRealign {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

@keyframes NoSubmit {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(10px);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}
