
/* Base classes applied to most words */
.wordDisplay {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: darkgray;
    border: none;
    outline: none;
    border-radius: 0.25em;

    padding: 0ch 0.25ch 0 0.5ch;
    width: 6.25ch;
    height: 2cap;
    line-height: 2cap;

    color: white;
    /*text-align: center;*/
}

.static {
    position: relative;
    transform: unset;
}

.gameplayText {
    font-family: monospace;
    letter-spacing: 0.25ch;
    font-weight: bold;
    text-transform: uppercase;
}

.smoothMovement {
    transition: top 0.3s ease-out, opacity 0.3s linear;
}

/* Specific types of words */
.wordInput {
    background: none;
    border: none;
    outline: none;

    height: 100%;
    width: 100%; /* keeps the input box from adjusting once you fill it */
    overflow: hidden;

    margin: 0;
    padding: 0;

    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-size: inherit;
    text-transform: uppercase;
}

.startingWord {
    background-color: indianred;
}

.wordHistory {
    opacity: 60%;
}

.anagramMove {
    background-color: gold;
}

.letterMove {
    color: yellow;
}

.caret {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: white;
    height: 1.5cap;
    width: 0.1ch;

    animation: blink 1s step-end infinite;
}


/* Animations */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes NoSubmit {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(10px);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}
